:root {
  --primary-color: rgb(192, 232, 90);
  --secondary-color: rgb(91, 126, 206);
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #6a6a6a;
  line-height: 20px;
  padding: 0 10px;
  line-height: 1.8rem;
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

.bg-secondary {
  background-color: var(--secondary-color) !important;
}


.text-primary {
  color: var(--primary-color) !important;
}

.btn-primary {
  background-color: var(--primary-color) !important;
  opacity: 1 !important;
  border: none;
}

.btn-primary:hover {
  background-color: var(--primary-color) !important;
  opacity: 0.9 !important;
}

.btn-animated:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: absolute;
}

.btn-animated:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2)
}

.btn-animated:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

ul {
  list-style: none;
}